*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins, sans-serif;
}

.contener{

    position: relative;
    height: 100vh;
    width: 100%;
    background: grey;
}

.contener .menu{
    display: none;
    padding-left: 98%;
    padding-top: -5%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

nav .logo{
    margin: 2% 1%;
    width: 130px;
    border-radius: 650%;
    border-top-right-radius: 0;
    
}

nav ul{
    display: flex;
   padding: 0 100px;
   
}

nav ul li{
    margin: 0 25px;
    font-weight: bold;
   
}

nav ul li a{
    font-size: 1em;
    color: #000;
    
}

nav ul li a:hover{
    color: darkblue;
}

nav ul li a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: darkblue;
    transition: width .3s;
}

nav ul li a:hover::after{
    width: 100%;
    transition: width .3s;
}

.sitecontener{
    position: absolute;
    bottom: 22%;

}

.sitecontener p{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
}

.sitecontener h1{
    font-size: 100px;
    line-height: 100px;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(2, 2, 72);

}

.main{
    width: 100%;
    height: 100vh;
    
    
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: #fff;
    width: 270px;
    border: solid 1px slategray;
    margin: 35px;
    border-radius: 15px;
    
}

.card p{
    padding: 10px;
    font-weight: bold;
}

.card h2{
    display: flex;
    justify-content: center;
}

.card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
}

.car-1{

    background-image: url('./wallhaven-0wd627.jpg');
}
.car-2{

    background-image: url('./N7GLGORN6REV3FVCNAKAZUP52Q.jpeg');
}
.car-3{

    background-image: url('./reflexologie.jpg');
}
.car-4{

    background-image: url('./62b444229ffc8\ \(1\).jpg');
}
.car-5{

    background-image: url('./boeuf-legumes-cuisine-francaise-etranger-768x404.jpg');
}


.card:hover{
    background-color: rgba(5, 4, 4, 0);
    color: #000;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;

}


.services h1{
    text-align: center;
    padding-top: 10%;
    margin: 60px;
    position: relative;
    font-weight: 600;
}

.services h1::after{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);

}

.sss{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}


/*Formation*/




.fin{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}
.fin span{
    color: #2230ef;
}

.formation{
    width: 350px;
    height: 200px;
    font-size: 17px;
    background: darkgray;
    text-align: center;
    border-radius: 20px;
    margin: 50px;
    cursor: pointer;
    
}

.formation:hover{
    background: darkgray;
    color: rgb(3, 3, 70);
    transform: scale(1.05);

}

.formation h2{
    font-size: 1.1em;
    margin-bottom: 25px;
    padding-top: 5%;
}

.formation p{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 7px;

}


 .contact{
    width: 100%;
    height: 100vh;
    background: url(./pexels-pixabay-434337.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}

.contact-info{
    color: #000;
    font-weight: bold;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info ion-icon{
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    

}

.contact-info div a{
    color: #000;
    cursor: pointer;
}

.contact-form{
    max-width: 900px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact h2{
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 55%;
    margin-left: 10%;
    position: absolute;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: grey;
    color: #fff;
    border: none;
    width: 120px;
     height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.contact-form .send-btn:hover{
    background: darkgrey;
}

footer{
    background-color: #011;
}

.footerContainer{
    width: 100%;
    padding: 20px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 100%;
}

.socialIcons a ion-icon {
    font-size: 1.5em;
    
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:first-child:hover{
    color: green;
}

.socialIcons a:nth-child(2){
    color: blue;
}

.socialIcons a:nth-child(3){
    color: palevioletred;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 5px;
    color: darkgray;
}

 @media  screen and (max-width: 914px){

    nav ul li{
        margin: 5px 20px;
        
    }
}

@media  screen and (max-width: 874px){

    nav ul li{
        margin: 5px 17px;
        
    }

    .sitecontener p{
        font-size: 40px;
        
    }
    
    .sitecontener h1{
        font-size: 90px;
        
    
    }
}

@media  screen and (max-width: 849px){

    nav ul li{
        margin: 5px 15px;
        
    }
    .sitecontener p{
        font-size: 38px;
        
    }
    
    .sitecontener h1{
        font-size: 85px;
        
    
    }
}

@media  screen and (max-width: 833px){
    
    nav ul li{
        margin: 5px 14px; 
    }

    nav .logo{
        width: 125px;
    }
}

@media  screen and (max-width: 820px){
    
    nav ul li{
        margin: 5px 13px; 
    }

    nav .logo{
        width: 120px;
    }

    .sitecontener p{
        font-size: 40px;
        
    }
    
    .sitecontener h1{
        font-size: 80px;
        margin-bottom: -5%;
    
    }
}

@media  screen and (max-width: 806px){

    nav ul li{
        margin: 5px 11px;
        
    }

    nav .logo{
        width: 110px;
       
        
    }

    .sitecontener h1{
        font-size: 75px;
        margin-left: 15%;
        
    }
}

@media  screen and (max-width: 780px){

    .contener .menu{
        display: block;
        margin: -110px -45px;
        font-size: 50px;

    }

   nav ul{
    position: absolute;
    display: flex;
    background: darkgray;
    backdrop-filter: blur(11px);
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
   }

   nav ul li{
    margin: 25px 0;
    font-size: 1.2em;
    font-weight: bold;
   
}

nav ul.mobile-menu{
    margin-left: 0;
}
.sitecontener h1{
    font-size: 40px;
    margin-bottom: -70%;
    margin-left: 30%;

}

.sitecontener p{
    font-size: 30px;
    
}
    
}

@media  screen and (max-width: 556px){

    .row{
        margin-bottom: 70%;
    }

    .riw{
        margin-bottom: 40%;
    }


}

@media  screen and (max-width: 960px){
    .contact-social{
        
        margin-bottom: 5%;
    }
}

@media  screen and (max-width: 916px){

    .formation{
       width: 345px;
    }

    .contact-form{
        margin-right:10px ;
    }

    .contact-social{
        
        margin-bottom: 1%;
    }
}

@media  screen and (max-width: 906px){
    .formation{
        width: 340px;
    }

    .contact-form{
        margin-right:10px ;
    }
}

@media  screen and (max-width: 896px){
    .formation{
        width: 335px;
    }
}

@media  screen and (max-width: 886px){
    .formation{
        width: 330px;
    }
}

@media  screen and (max-width: 876px){
    .formation{
        width: 320px;
    }

    

    .contact-form{
        margin-right:-10px ;
    }

    .contact-social{
        
        margin-bottom: -1%;
    }
}

@media  screen and (max-width: 856px){
    .formation{
        width: 310px;
    }

   
    .contact-form{
        margin-right:-50px ;
    }
}




@media  screen and (max-width: 836px){
    .formation{
        width: 300px;
    }

    .contact-form{
        margin-right:-60px ;
    }

    .contact-social{
        
        margin-bottom: -5%;
    }
}

@media  screen and (max-width: 816px){
    .formation{
        width: 290px;
    }

    .contact-form{
        margin-right:-70px ;
    }
}

@media  screen and (max-width: 796px){
    .formation{
        width: 280px;
    }

    .contact-form{
        margin-right:-80px ;
    }

    .contact-social{
        
        margin-bottom: -10%;
    }
}

@media  screen and (max-width: 776px){
    .formation{
        width: 270px;
    }

    .contacts{
        width: 80%;
    }

    .contact-form{
        margin-right:-90px ;
    }

    
}

@media  screen and (max-width: 756px){
    .formation{
        width: 260px;
    }

    .contacts{
        width: 80%;
    }

    .contact-form{
        margin-right:-120px ;
    }
}

@media  screen and (max-width: 736px){
    .riw{
        margin-bottom: 30%;
    }

    .contact-social{
        
        margin-bottom: -15%;
    }
}

@media  screen and (max-width: 730px){
    .contact{
        padding: 60% 9%;
        flex-direction: column;
        
       
        
    }

    .contact h2{
        margin-bottom: 100%;
    }

    .contact-form{
        width: 100%;
        margin-bottom: -10%;
    }

    .contact-social{
        position: absolute;
        margin-bottom: -55%;
        margin-left: 70%;
    }
}


@media  screen and (max-width: 678px){
    .contact-form{
        width: 90%;
    }
}

@media  screen and (max-width: 625px){
    .contact-form{
        width: 80%;
    }

    .contact h2{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 110%;
    }

    .contact-info ion-icon{
        font-size: 20px;
        font-weight: bold;
        color: #2230ef;
    }

    .contact-form .send-btn{
        width: 90px;
        font-size: 12px;
        color: #2230ef;
    }
}

@media  screen and (max-width: 610px){
    .contact-social{
        margin-right: 140%;
        
    }

    .contact-form{
        
        margin-bottom: -15%;
    }
}

@media  screen and (max-width: 580px){

    .contact{
        padding: 65% 9%;
    }

    .contact-form{
        width: 80%;
    }

    .contact-social{
        margin-bottom: -62%;
    }

    .contact-form .send-btn{
        width: 80px;
    }

}

@media  screen and (max-width: 539px){
  
    .riw{
        margin-bottom: 50%;
    }
    
    .row{
        margin-bottom: 120%;
    }

}

@media  screen and (max-width: 530px){
    .contact{
        padding: 68% 9%;
    }
    .contact-social{
        margin-bottom: -68%;
    }
    .contact h2{
        margin-bottom: 119%;
    }
}



@media  screen and (max-width: 500px){

   .riw .fin{
    font-size: 1.2em;
   }

   .contact h2{
    font-size: 1.5em;
    margin-bottom: 125%;
   }

   

   .contact-form .send-btn{
    width: 55px;
    margin-top: -7%;
    font-size: 10px;
    
   }

   .contact-social{
    margin-bottom: -75%;
   }
}


@media  screen and (max-width: 470px){
    .contact-info{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7%;
        line-height: 47px;
    }

    .contact-form{
        margin-bottom: -10%;
    }
    .contact-form .send-btn{
       
        margin-top: -9%;
       
        
       }
}

@media  screen and (max-width: 420px){
    .row{
        padding-top: -10%;
    }

    .formation{
        width: 220px;
        height: 180px;
    
    }

    .services h1{
        
        padding-top: -10%;
        
    }

    .ser{
        
        height: 180px;
    }

    .contact-info{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 7%;
        line-height: 45px;
    }

    .contact-form{
        margin-bottom: -10%;
    }
}

@media  screen and (max-width: 530px){
    .contact-info{
        font-size: 12px;
    }

    .contact-info ion-icon{
        font-size: 1.3em;
        font-weight: bold;
    }

    .contact-social ion-icon{
        font-size: 0.90em;
        margin-bottom: 1%;
    }

    .contacts .send-btn{
        height: 5vh;
    }

    .contacts textarea{
        height: 20vh;
    }
} 

@media  screen and (max-width:548px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
}
